html, 
body {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.recent-posts-header{
    display: block;
    text-align: center;
}

.my-info{
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: left;
}

.commitment{
    margin-top: 2.813em;
}

.intro-text, h2{
    font-size: 2.5rem;
}

.profile-img{
    border-radius: 50%;
    align-self: center;
    width: 9.375em;
    height: 9.375em;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-header-text{
    font-size: 0.75rem;
}

.blog-item{
    margin-bottom: 2.188em;
    flex: 0 0 33.3333%;
}

.flex-left{
    display: flex;
}

.flex-right{
    margin-right: 1.25em;
}

a.nav-item{
    font-size: 0.75rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 1.25em;
}

.section-1{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.875em 1.25em 0.3125em 1.25em;
    margin-bottom: 1.875em;
    text-align: left;
}

.bg{
    background-image: url(../images/coding.jpeg);
    background-color: black;
    background-size: cover;
    color: white;
}

.blog-section{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 3vw;
}

.blog-image{
    border-radius: 2%;
    align-self: center;
    width: 90%;
    height: 40%;
    object-fit: cover;
}

.fa-book{
    font-size: 1.5625rem;
}

.view-more{
    display: block;
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    
}

footer{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    line-height: 0.3125em;
    padding-bottom: 0.625em;
    padding-top: 0.625em;
    margin-top: 0.9375em;
    width: 100%;
}

.hidden{
    display: none;
}


@media (min-width: 768px){
    .blog-section{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .header, .section-1{
        width: 100%;
    }
}